body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    max-width: 512px;
    width: 100%;

    display: grid;
    gap: 4px;
}

#calculator > * {
    width: 100%;
}

#expressions {
    display: grid;
    gap: 4px;
}

.expression {
    height: 48px;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 4px;

    border: 1px solid black;
}

.expression * {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.expression > input {
    flex: 1;
    height: 100%;

    font-size: 16px;
    padding: 0px 10px;

    border: none;
}

.remove-expression {
    cursor: pointer;
    height: 32px;
    margin: 8px;
}

.expression-error-wrapper {
    position: relative;
    height: 48px;
}

.expression-error {
    height: 32px;
    margin: 8px;
}

.expression-error-popup {
    position: absolute;
    top: calc(90%);
    left: calc(50%);
    transform: translateX(-50%);
    z-index: 1;

    width: 240px;

    background-color: lightcoral;
    padding: 4px;

    border: 1px solid black;
}

#expression-adder {
    cursor: pointer;
}
#expression-adder > img {
    height: 32px;
}

.hidden {
    display: none;
}
